@{
    ViewBag.Title = "Thank You";
    Layout = null; // This view does not use a layout page
}

<!DOCTYPE html>
<html>
<head>
    <title>Thank You for Donating Food!</title>
   
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            text-align: center;
            margin: 100px;
        }

        .message {
            margin-top: 30px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="message">
        <h1>Thank You for Donating Food!</h1>
        <p>A ZeroHunger employee will contact you soon <br /> And collect food from the given location.</p>
        <a href="@Url.Action("Create", "Restaurant")" class="btn btn-close">Make another donation</a> <br />
        <a href="@Url.Action("Index", "Home")" class="btn btn-close">Go to home</a>
    </div>
    
</body>
</html>

